/* Write your CSS here! */
header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
  }
  
  .round {
    border-radius: 50%;
  }
  
  h1 {
    margin-top: 0;
  }
  
  main {
    padding: 20px;
  }